html,
body {
    width: 100%;
    height: 100%;
}

.middle {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

#title {
    background-image: url("img/balloon-1.jpg");
}
